{% extends "base.html" %}
{% set activepage = 'Home' %}
{% block content %}
    <h1>Sheffield Solar OSM Tools</h1>
    <form method="POST" id="validation_tool" action="{{ url_for('validate_osm_groups_landing_page') }}">
        <button type="submit" class="btn btn-primary">OSM ways validation tool</button>
    </form>
    <form method="POST" id="matching_tool" action="{{ url_for('osm_repd_validation_landing_page') }}">
        <button type="submit" class="btn btn-primary">OSM-REPD matches validation tool</button>
    </form>
    <form method="POST" id="disagreement_matching_tool" action="{{ url_for('osm_repd_disagreement_validation_landing_page') }}">
        <button type="submit" class="btn btn-primary">OSM-REPD disagreement matches validation tool</button>
    </form>
{% endblock content %}

{% block scripts %}
    {{super()}}
    
{% endblock scripts %}