{% extends "base.html" %}
{% set activepage = "Home" %}
{% block content %}
    <h1>Sheffield Solar OSM-REPD Matches Validation Tool</h1>
    <form method="POST" id="osmRepdMatchForm" action=" {{ url_for('validate_osm_repd_matches', index=index)}} ">
        <div id="wayMap" style="width: 100%; height: 750px;"></div>
        <div>
            <div id="results_table">
                <br><hr>
                <h3>Entries from REPD</h3>
                {{ tables[0]|safe }}
                <br>
               <h3>Entries from input dataset</h3>
                {{ tables[1]|safe }}
                <br>
            </div><hr>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="is_valid" value="correct">
            <label class="form-check-label" for="inlineRadio1">Correct</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="is_valid" value="incorrect">
            <label class="form-check-label" for="inlineRadio1">Incorrect</label>
        </div>
        <div>
            {% for flag_id in flag_codes %}
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="flag" value="{{ flag_id }}" id="defaultCheck{{flag_id}}">
                    <label class="form-check-label" for="defaultCheck{{flag_id}}">
                        {{ flag_codes[flag_id][0] }}
                    </label>
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock content %}

{% block scripts %}
    {{super()}}
    <script type="text/javascript">
        function loadMapScenario() {
            var map = new Microsoft.Maps.Map(document.getElementById("wayMap"), {});
            {% for osm_id in ways %}
                var polygon = new Microsoft.Maps.Polygon([
                    {% for lat, lon in ways[osm_id] %}
                        new Microsoft.Maps.Location({{lat}}, {{lon}}),
                    {% endfor %}
                ], { fillColor: "rgba(242, 104, 104, 0.5)", strokeColor: "red", strokeThickness: 2 });
                map.entities.push(polygon);
            {% endfor %}
            {% for repd_id in coords %}
                    var location = new Microsoft.Maps.Location({{coords[repd_id][0]}}, {{coords[repd_id][1]}});
                    var REPD_Pin = new Microsoft.Maps.Pushpin(location, { title: 'REPD entry location',
                                                                                  subTitle: 'REPD ID: {{repd_id}}',
                                                                                  color: 'blue' });
                    map.entities.push(REPD_Pin);
            {% endfor %}
            map.setView({
                mapTypeId: Microsoft.Maps.MapTypeId.aerial,
                center: new Microsoft.Maps.Location({{center_lat}}, {{center_lon}}),
                zoom: 16
            });
        }
    </script>
    <script type="text/javascript" src="https://www.bing.com/api/maps/mapcontrol?key={{bing_key}}&callback=loadMapScenario" async defer></script>
{% endblock scripts %}
